*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Homepage css */
.homepage-main-body{
  margin-top: 10vh;
}
.homepage-main-image{
  display: block;
  margin: auto;
  height: 90vh;
  width: 100vw;
  background-color: aqua;
  background: url('./components/oil-treatment.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  
}
